@charset "UTF-8";
html{
    background-image: url(../images/background/a1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-size: 40px;
    text-align: center;
}
h2{
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 30px #000000;
    border-bottom: solid 5px #000000;
}
p{
    padding: 0.5em 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}